<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}
{% load static%}
{% block title %}Главная{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content%}
<style>
    body{
      font-family: century gothic;
      background-color: #e6dee9;
    }
    .otstup{
      margin: 5rem;
    }
    .nav_sign_container{
      margin: 20rem;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }
    .px{
      color: #7a00a6;
    }
  </style>
  <head>
    <meta charset="utf-8">
      <style>
        body {
            background-image: url('{% static "hello/img/index.png" %}');
        }
      </style>
      <body class="d-flex h-100 text-center text-bg-dark">
            <div class="nav_sign_container d-flex w-100 h-100 p-3 mx-auto flex-column">
              <main class="px">
                <font size="7">
                  Study Buddy
                <font>
              </main>
            </div>
        </body>
        <header class="text-bg-dark">
            <ul class="nav">
                <li>
                  <font size="3">
                    <a href="/contacts" class="nav_sign_container;">О нас</a></li>
                  </font>
                </li>
            </ul>
        </header>
  </head>
</html>
{% endblock content %}